<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">

        <!-- Botón "atrás" Mobile -->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- Fin Botón "atrás" Mobile -->

        <!-- Title main -->
        <h1 class="big main noMrgnBottom">Autenticación</h1>
        <!-- End title main -->
        
        <!-- Tracking -->
        <div class="trackingMain">
            <div class="trackingMain__dataNav">
                    <!-- No se necesita poner números en el tracking, van automaticos por CSS -->
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>

        <div class="contentBox contentBox--noBackg">
            <div class="gifVinculation">
                <img src="../images/intro-vnclcn-IDFace2.gif" alt="GIF lectura documento parte frontal">
                <p class="paragraph">
                    Al continuar, toque la pantalla para enfocar con la cámara de su celular la parte frontal de su cédula. Tomaremos una foto automáticamente.
                </p>
            </div>
        </div>

        <!-- Contenedor y Botones genericos - Siempre poner los botones dentro de contButtons -->
        <div class="contButtons contButtons--noMrgn">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
        <!-- Contenedor y Botones genericos -->

    </section>
</body>

</html>