<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">

        <!-- Botón "atrás" Mobile -->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- Fin Botón "atrás" Mobile -->

        <!-- Title main -->
        <h1 class="big main noMrgnBottom">Mis Datos</h1>
        <!-- End title main -->
        
        <!-- Tracking -->
        <div class="trackingMain">
            <div class="trackingMain__dataNav">
                    <!-- No se necesita poner números en el tracking, van automaticos por CSS -->
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>

        <div class="contentBox">
            <h2 class="headVinculation">Cristian David Arias</h2>
            <div class="trackingAlter">
                <div class="trackingAlter__dataNav">
                    <a href="javascript:void(0)" class="dataNav__step"></a>
                    <a href="javascript:void(0)" class="dataNav__step dataNav__step--active"></a>
                    <a href="javascript:void(0)" class="dataNav__step"></a>
                    <a href="javascript:void(0)" class="dataNav__step"></a>
                    <a href="javascript:void(0)" class="dataNav__step"></a>
                </div>
            </div>
            <h3 class="subHeadVinculation">Información laboral.</h3>

           <form action="" class="mrgnTop">
               <!-- Formulario vinculación Información laboral -->
                <div class="input">
                    <label for="direccionOficina"> 
                        ¿Cuál es la dirección de su oficina?
                        <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo"></span></a>
                        <div class="tooltip">
                            <p>
                                Ingrese una dirección en Colombia.
                            </p>
                        </div>
                    </label>
                    <div class="input--fluidBigger">
                        <select name="">
                            <option value="-1" selected="">Seleccione</option>
                            <option value="1">Opción 1</option>
                            <option value="2">Opción 2</option>
                        </select>
                        <input type="text">
                        <span>#</span>
                        <input type="text">
                        <span>-</span>
                        <input type="text">
                    </div>
                </div>

                <div class="input">
                    <p class="label label--noMrgnTop">¿Seleccionar como dirección principal?</p>
                    <label class="radio">
                        Si
                        <input type="radio" value="" name="dir-principal"> 
                        <div class="radio__indicator"></div>
                    </label>
                    <label class="radio">
                        No
                        <input type="radio" value="" name="dir-principal">
                        <div class="radio__indicator"></div>
                    </label>
                </div>

                <div class="input">
                    <label for="otrosDatos">Torre / Piso / Apartamento / Otro:</label>
                    <input type="text" id="otrosDatos" placeholder="Opcional">
                </div>

                <div class="input">
                    <label for="ubicacionOficina">¿En qué ciudad está ubicada su oficina?</label>
                    <input type="text" id="ubicacionOficina">
                </div>

                <div class="input input--noPadding">
                    <label for="address">¿Cuál es el teléfono de su oficina?
                        <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo"></span></a>
                        <div class="tooltip">
                            <p>
                                Ingrese primero el indicativo de la ciudad, luego el número de teléfono y finalmente la extensión si aplica.
                            </p>
                        </div>
                    </label>
                    <div class="input--fluid">
                        <span>+57</span>
                        <input type="number" placeholder="Indicativo">
                        <input type="number" placeholder="Número">
                        <input type="number" placeholder="Ext.">
                    </div>
                </div>
           </form>

        </div>

        <!-- Contenedor y Botones genericos - Siempre poner los botones dentro de contButtons -->
        <div class="contButtons">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
        <!-- Contenedor y Botones genericos -->
    </section>
</body>

</html>