<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">

        <!-- Botón "atrás" Mobile -->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- Fin Botón "atrás" Mobile -->

        <!-- Title main -->
        <h1 class="big main noMrgnBottom">Mis Datos</h1>
        <!-- End title main -->
        
        <!-- Tracking -->
        <div class="trackingMain">
            <div class="trackingMain__dataNav">
                    <!-- No se necesita poner números en el tracking, van automaticos por CSS -->
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>

        <div class="contentBox">
            <h2 class="headVinculation">Cristian David Arias</h2>
            <div class="trackingAlter">
                <div class="trackingAlter__dataNav">
                    <a href="javascript:void(0)" class="dataNav__step"></a>
                    <a href="javascript:void(0)" class="dataNav__step"></a>
                    <a href="javascript:void(0)" class="dataNav__step"></a>
                    <a href="javascript:void(0)" class="dataNav__step dataNav__step--active"></a>
                    <a href="javascript:void(0)" class="dataNav__step"></a>
                </div>
            </div>
            <h3 class="subHeadVinculation">Información tributaria.</h3>

           <form action="" class="mrgnTop">
                <!-- Formulario vinculación Información tributaria -->
                <div class="input">
                    <label>
                        ¿Tiene residencia fiscal diferente a Colombia y Estados Unidos?
                        <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo"></span></a>
                        <div class="tooltip">
                            <p>
                                Marque sí, si usted tiene obligaciones fiscales o tributarias en países diferentes a Colombia.
                            </p>
                        </div>
                    </label>
                    <label class="radio radio--noMrgnLeft">
                        Si
                        <input type="radio" value="" name="residenciaFiscal"> 
                        <div class="radio__indicator"></div>
                    </label>
                    <label class="radio">
                        No
                        <input type="radio" value="" name="residenciaFiscal">
                        <div class="radio__indicator"></div>
                    </label>
                </div>

                <div class="input">
                    <label for="pais"> 
                        ¿En qué país?
                        <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo"></span></a>
                        <div class="tooltip">
                            <p>
                                Elija el país diferente a Colombia en el cual usted tiene obligaciones tributarias.
                            </p>
                        </div>
                    </label>
                   <input type="text" id="pais">
                </div>

                <div class="input">
                    <label for="identificacionFiscal"> 
                        ¿Cuál es el número de identificación fiscal en el país indicado?
                        <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo"></span></a>
                        <div class="tooltip">
                            <p>
                                EL TIN (Tax Identification Number) es el número de identificación tributaria del país en el cual usted tiene residencia fiscal.
                            </p>
                        </div>
                    </label>
                   <input type="text" id="identificacionFiscal">
                </div>
                
                <div class="input">
                    <label>
                        ¿Está usted sujeto a tributación fiscal en los Estados Unidos, es decir es impactado por la ley FATCA?
                        <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo"></span></a>
                        <div class="tooltip">
                            <p>
                                Marque Sí, si cumple con alguna de las siguientes condiciones: nació en USA o tiene ciudadanía norteamericana, tiene
                                pasaporte norteamericano, tiene dos nacionalidades (Norteamericana y otra), tiene tarjeta de residencia permanente en
                                USA, ha permanecido más de 182 días en USA en el último año ó o ha permanecido más de 121 días en promedio en los
                                últimos 3 años, exceptuando las permanencias por viaje diplomático, estudios o tratamiento medico.
                            </p>
                        </div>
                    </label>
                    <label class="radio radio--noMrgnLeft">
                        Si
                        <input type="radio" value="" name="tributacionFiscal"> 
                        <div class="radio__indicator"></div>
                    </label>
                    <label class="radio">
                        No
                        <input type="radio" value="" name="tributacionFiscal">
                        <div class="radio__indicator"></div>
                    </label>
                </div>

           </form>

        </div>

        <!-- Contenedor y Botones genericos - Siempre poner los botones dentro de contButtons -->
        <div class="contButtons">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
        <!-- Contenedor y Botones genericos -->

        <script src="../js/main.js"></script>
    </section>
</body>

</html>