<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">

        <!-- Botón "atrás" Mobile -->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- Fin Botón "atrás" Mobile -->

        <!-- Title main -->
        <h1 class="big main noMrgnBottom">Información de su empresa</h1>
        <!-- End title main -->

        <div class="contentBox">
            <form action="" class="mrgnBottom">
                <div class="input">
                    <label for="ingresos">Ingrese el nombre o NIT de la entidad pagadora de su pensión:</label>
                    <div class="input">
                        <input type="text" id="OTP">
                        <a href="javascript:void(0)" class="buttonTooltip"><span class="icon-dv-tooltipAsk"></span></a>
                        <div class="tooltip">
                            <p>
                                El NIT es el número de identificación tributaria de la empresa de la que recibe el pago de su pensión.
                                <br><br>
                                Si su entidad pagadora de pensión es Colpensiones, su cuenta será reportada directamente por Davivienda, de lo contrario
                                la deberá reportar a la entidad correspondiente.
                            </p>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Contenedor de Beneficios y Caracteristicas -->
            <div class="benefits__container">
                <h2 class="noMrgnTop">Tenga en cuenta la siguiente información:</h2>
                <!-- Item Beneficios y Caracteristicas -->
                <div class="benefits__item">
                    <img src="../images/icon-NIT-bnft-1.svg" alt="Beneficio">
                    <p>
                        El costo de la cuota de manejo de tarjeta débito es de $0 al mes.
                    </p>
                </div>
                <!-- Fin Item Beneficios y Caracteristicas -->
                <div class="benefits__item benefits__item--minMrgn benefits__item--noMrgnBottom">
                    <img src="../images/icon-NIT-bnft-2.svg" alt="Beneficio">
                    <p>
                        Los retiros en oficinas y cajeros Davivienda son ilimitados y sin costo.
                    </p>
                </div>
            </div>
            <!-- Fin Contenedor de Beneficios y Caracteristicas -->

            
        </div>

        <div class="contTextInformation contTextInformation--relative">
            <p>
                Consulte el <strong>VTU</strong> de sus productos <br> en www.davivienda.com
            </p>
            <a href="javascript:void(0)" class="buttonTooltip"><span class="icon-dv-tooltipInfo"></span></a>
            <div class="tooltip tooltip--maxWidth">
                <p>
                    El VTU es el valor o porcentaje que resume los costos que se deben pagar o los beneficios que se recibirán al adquirir
                    productos financieros.
                </p>
            </div>
        </div>

        <!-- Contenedor y Botones genericos - Siempre poner los botones dentro de contButtons -->
        <div class="contButtons contButtons--noMrgn">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
        <!-- Contenedor y Botones genericos -->

    </section>
</body>

</html>